*{
  margin: 0;
  padding: 0;
  font-family: 'calibri', sans-serif;
}

body{
  background-color: #F9FAFE;
    overflow: hidden;
}

.flex-container{
  display: flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
}

.left-container{
  width:12%;
  height: 100vh;
  display:flex;
  flex-direction: column;
  background-color:white;
  border-right: 1px solid rgb(204, 204, 204,0.2);
  padding: 0 25px;
}

.image{
   width:75px;
   height:75px;
   margin-top:15px;
   border-radius:50%;
   box-shadow: 0 12px 16px 0 #ccc;
   position: relative;
 }

 .btn {
 font-size: 8px;
 font-weight: bold;
 letter-spacing: 1px;
 background-image: linear-gradient(to left, #ff1f33, #ff6773);
 border: 0;
 outline: 0;
 color: white;
 border-radius: 24px;
 padding: 2px 4px;
 width:24px;
 text-align: center;
 position: absolute;
 left: 130px;
 top: 25px;
}

 .center{
   margin-left: auto;
   margin-right: auto;
 }
 .middle{
   margin-top: auto;
   margin-bottom: auto;
 }
 .name{
   color:rgb(59,71,106);
   font-size:18px;
   font-weight: 900;
   margin:0;
   padding: 5px;
   text-align: center;
   margin-top:10px;
 }

  .email{
   font-size:14px;
   margin:0;
   padding-bottom: 40px;
   color:#a7afc9;
   text-align: center;
 }

 /* .btn-box {
  position: absolute;
  right: 50px;
  top: 6px;
    } */

.menu-items{
  padding-bottom: 40px;
}

.menu-items a {
  text-decoration: none;
  font-size:16px;
  line-height:28px;
  font-weight:800;
  color:rgb(59,71,106);
  padding-left: 10px;
  padding-bottom:10px;
}

.nav-box{
  display: flex;
  width: 80%;
}
.text{
  padding-left: 15px;
}

.browse{
  color: rgb(68, 101, 234);
}
.nav-text{
  padding-left: 15px;
  color: rgb(68, 101, 234);
}

.third-sec a{
  text-decoration: none;
  font-size:16px;
  line-height:24px;
  font-weight:800;
  color:rgb(59,71,106);
  padding-bottom: 10px;
}

.nav-topic{
  font-size: 16px;
  letter-spacing: 3px;
  color:rgb(187,194,214);
  margin-right: 0;
  margin-left: 0;
  padding-left: 10px;
  padding-bottom: 30px;
}

.small-box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:140px;
  height:60px;
  background-color: #E8ECF7;
  padding: 5px 2px;
  margin-top: 100px;
  border-radius: 5px;
  }

  .mobile-image {
   width: 20px;
   padding: 5px;
   border-radius: 5px;
   background-color: #fff;
    }


  .iphone-x{
    width: 100%;
    }

  .txt {
   font-size: 12px;
   color: #364369;
   font-weight: 800;
   margin: 0;
    }

  .para {
   margin-top: 2px;
   font-size: 10px;
   color: #BCC3D8;
    }

  .fas fa-caret-square-up{
    color: #ccc;
  }

  .right-container{
   display: flex;
   flex-direction: column;
   height:100vh;
   width: 86%;
    }

  .top-bar{
    display:flex;
    padding:10px 30px;
    width:calc(100% - 60px);
  }

  .search-wrapper{
    width: 380px;
    height: 30px;
    background-color: transparent;
    padding: 5px 10px;
    border: 2px solid rgba(168, 185, 198, 0.5);
    border-radius: 100px;
    display: flex;
  }
   .search-wrapper img{
     width: 17px;
     height: 17px;
   }

  .search-bar{
    font-size: 15px;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: 0;
    margin-left: 10px;
    width: 350px;
    color: rgba(168, 185, 198, 1);
  }

  .search-bar::placeholder{
    color: rgba(168, 185, 198, 1);
  }

  .right-bar{
    display: flex;
    margin-left: auto;
  }

  .menus{
   width: 20px;
   height: 20px;
   padding-right:18px;
   }

   .upgrade{
     font-size:10px;
     background-image: linear-gradient(to right, #ff1f33, #ff6773);
     border: 0;
     outline: 0;
     color: white;
     border-radius: 24px;
     padding: 2px 4px;
     width: 100px;
     height: 30px;
   }

   .bill-txt{
     color: rgb(59,71,106);
     font-weight: 600;
     font-size: 22px;
   }

   .right-arrow{
     padding-right:10px;
     transform: rotate(180deg);
   }

   .cards-container{
     display: flex;
     width: calc(100% - 60px);
     padding: 0 15px;
     overflow: auto;
   }
   .cards-container::-webkit-scrollbar{
     width: 0;
     height: 0;
   }
   .iphone-pos{
     display: flex;
     margin-left: auto;
     margin-right: auto;
   }

   .cards{
     display: flex;
     flex-direction: column;
     margin:0 15px 5px 15px;

   }


   .top-pic{
     height: 180px;
     border-radius: 15px;
     border: none;
     transition: transform 0.4s ease;
     z-index: 20;
   }
   .top-pic:hover{
     transform: scale(1.1);
   }
   .album{
     font-size: 16px;
     font-weight: bold;
     color: rgb(59,71,106);
     padding-top: 20px;
   }
   .artist{
     font-size: 14px;
     color:#a7afc9;
   }

   #bottom-right-container{
     display: flex;
     width: calc(100% - 60px);
     margin: 5px 30px;
   }

   .most-popular{
     display: flex;
     flex-direction: column;
     width:calc(55% - 20px);
     margin-right: 20px;
   }

   .now-playing{
     display: flex;
     flex-direction: column;
     width:calc(45%);
   }

    .mp{
     font-size: 24px;
     font-weight: bold;
     color: rgb(59,71,106);
   }

   .songs{
     font-size: 14px;
     color: #a7afc9;
     font-weight: 600;
   }

   .player-list{
     display: flex;
     flex-direction: column;
     margin-top:20px;
   }

   .songs-list{
     display: flex;
     padding:10px 20px;
     box-shadow: 0 0 3  0px 1px rgba(0, 0, 0, 0.1);
     background-color: #fff;
     border-radius:10px;
     width: 85%;
     margin-bottom: 10px;
   }

   .no{
     width: 5%;
     padding-right: 10px;
     display: flex;
     font-size: 16px;
     font-weight: bold;
     color: rgb(59,71,106);
   }

   .small-image{
     border-radius: 5px;
     padd
   }

   .icon{
     padding-left: 2%;
   }
   .my-stress{
     width: 30%;
     padding-left: 10px;
     font-size: 16px;
     font-weight: bold;
     color: rgb(59,71,106);

   }
   .player{
     width:45%;
     padding-left: 10%;
   }

  .time{
    width: 20%;
    text-align: center;
  }
   .heart{
     display: flex;
     padding-left:20%;
   }
.out-box{
  margin-top: 20px;
  background-color: #fff;
  display: flex;
  flex-direction:column;
  width:100%;
  height:315px;
  border-radius: 20px;
  box-shadow: 0 0 3  0px 1px rgba(0, 0, 0, 0.1);
}
.mid-box{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height:75%;
  background-color: #fff;
  position: relative;
  top: 20px;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 28px 30px 1px rgba(0, 0, 0, 0.2);
}
.controls{
  display: flex;
  width:60%;
  padding: 0 30px;
  justify-content:space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: auto;
}

.cd-card{
  display: flex;
  flex-direction: column;
  padding:10px;
}
.cd{
  border-radius: 50%;
  margin-bottom: 12px;
}
.cd-hole{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  z-index: 2;
  top:56px;
  left:120px;
}
.cd-txt{
  font-size: 16px;
  font-weight: bold;
  color: rgb(59,71,106);
}
.line-box{
  display: flex;
  padding-top: 5px;

}
.line{
  width:80%;
  height:3px;
  background-color: #a7afc9;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
}
.mar-left{
  margin-left: auto;
}
.mar-right{
  margin-right: auto;
  padding-right: 10px;
}
.round{
  width: 10px;
  height:10px;
  background-color: #264cda;
  border-radius: 50%;
  position: absolute;
  left:100px;
  bottom:26px;
}
